/*
Advanced Visual Frameworks 1312
Angela Smith
Week 1
 */

.ui-li {
	border-top: 1px solid #ffffff;
	height: 45px;
	color: #666666;
}
.ui-li a, .ui-bar a {
	color: #666666;
	text-decoration: none;
	padding-top: 10px; 
	padding-bottom: 10px; 
}
.ui-btn-up-a {
	background-image: linear-gradient(#cococo,#2d2d2d);
}
.ui-li-desc {
	color: #666666;
}
#home, #research   {
	background-image:url('../img/bg.jpg');
	background-repeat:repeat;
}
#research div {
	background:rgba(245,241,240,.4);
}

img {
	height: 40px;
	padding-left: 8px;
	padding-top: 1px;
}

.ui-bar-a {
	text-align: center;
	background: #ffffff;
	padding-bottom: 4px;
	border-bottom: none;
}
header p {
	font-size: 12px;
}
.ui-header .ui-title {
    margin-top: 25px;
    margin-bottom: 0px;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
padding-left: 55px;
padding-top: 20px;
}
h4 {
	margin: 20px 8px; 	
}
