/*
Advanced Visual Frameworks 1312
Angela Smith
Week 1
 */

/* Listview */
.ui-li {
	border-top: 1px solid #ffffff;
	height: 50px;
	color: #666666;
}

.ui-li-desc {
	color: #666666;
}
/* Background */



section[data-role="page"] {
	/*background-image:url('../img/bg.jpg');
	background-repeat:repeat;*/
	background:
	linear-gradient(207deg, #4c4c4c 2px, transparent 10px) 10px 0px,
	linear-gradient(38deg, #4d4d4d 4px, transparent 9px),
	linear-gradient(65deg, #4b4b4b 4px, transparent 9px),
	linear-gradient(#666666 30%, #4b4b4b 40%, transparent 50%, #6c6c6c 60%, transparent 80%, #6a6a6a);
	background-color: #666666;
	background-size: 10px 10px;
}

section[data-role="content"]:not(#mainNav), [data-role="collapsible"] {
	background:rgba(245,241,240,.8);
}

/* Header */
.ui-bar-a {
	text-align: center;
	background: #fbb03b;
	padding: 0 0 4px 0;
	border-bottom: 1px solid #ffffff;
}
.ui-bar-a p {
	margin: 0;
	font-family: Myriad Pro;
	text-shadow: 0 -1px 0 #666666;
	font-weight: normal;
	font-size: 14px;
}
header {
	padding-top: 10px;
}
.ui-header .ui-title {
	font-family: Gabriola;
	font-size: 30px;
	text-shadow: 0 -1px 0 #666666;
	margin: 0;
	font-weight: normal;
}
.ui-header .ui-title span {
	color: #666666;
	font-weight: normal;
}
/* Icon */
#home img {
	height: 40px;
	padding-left: 8px;
	padding-top: 3px;
}
header img {
	height: 40px;
	padding-left: 8px;
	padding-top: 3px;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
	padding-left: 55px;
	padding-top: 23px;
}
/* Instagram images */
 img[alt] {
 	height: 100px;
 }
 /* Media Queries */
 /* iPhone */
@media all and (min-device-width: 320px) and (max-device-width: 568px) {
section[data-role="page"] {
    background: #0023e7;
  }
}
@media all and (min-device-width: 568px) and (max-device-width: 699px) {
section[data-role="page"] {
    background: #ccc;
  }
}
@media all and (min-device-width: 699px) and (max-device-width: 1020px) {
section[data-role="page"] {
    background: #f817ff;
  }
}